:root{
    --background-img:url(https://api.remelens.link/bingimg.php);
    --background-color:#fff;
    --text-color:#000;
    --text-color-underimg:#fff;
    --link-color:#0e90d2;
    --link-hover-color:#0056b3;
    --cursr-color:#00aaff;
    --fonts:'Ubuntu Mono',Consolas,Menlo,"Microsoft Yahei UI","Pingfang SC","Noto Sans CJK SC";
    --font-size:16px;
    --background-text-shadow:0 2px 4px rgba(0,0,0,.5);
}
@media (prefers-color-scheme: dark){
    :root{
        --background-img:linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url(https://api.remelens.link/bingimg.php);
        --text-color:#fff;
        --background-color:#444;
    }
}
html{
    width:100%;
    height:100%;
}
@media (max-width: 1120px){
    body:before {
        content: "";
        background: var(--background-img) no-repeat;
        background-size: cover;
        background-position: center;
        position: fixed;
        top: 0;
        left: 0;
        height:100%;
        width:100%;
        z-index: -1;
    }
}
body{
    margin:0;
    width:100%;
    height:100%;
    background-image: var(--background-img);
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-position: center;
    background-size: cover;
    font-family:var(--fonts);
    font-size:var(--font-size);
    color:var(--text-color-underimg);
}
.centerbox{
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    display:flex;
}
.body{
    margin:auto;
    border-radius: 7px;
    padding:1em;
}
.centerbox .body{
    text-align:center;
    text-align:-webkit-center;
    text-align:-moz-center;
}
.stitle{
    padding-bottom:1em;
    text-shadow:var(--background-text-shadow);
}
a{
    color:var(--link-color);
    transition:all 0.2s;
    text-decoration: none;
}
a:hover{
    color:var(--link-hover-color);
    transition:all 0.2s;
}
input,button,textarea{
    outline:none;
    -webkit-appearance: none;
    font-size:var(--font-size);
}
input,textarea{
    caret-color:var(--cursr-color);
    color:var(--text-color-underimg);
}
.searchinput{
    backdrop-filter: blur(2.5px);
    -webkit-backdrop-filter: blur(2.5px);
    background:transparent;
    border:1px solid #7777;
    box-shadow: 0 0 10px 3px rgba(0,0,0,.5);
    border-radius: 5em;
    width:500px;
    transition:all 0.2s;
    padding:13px;
}
.searchinput:hover{
    box-shadow: 0 0 10px 6px rgba(0,0,0,.5);
    transition:all 0.2s;
}
.searchinput:focus/*-within*/{
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    box-shadow: 0 0 10px 6px rgba(0,0,0,.5);
    transition:all 0.2s;
}
.btnsearch{
    background:var(--background-color);
    color:var(--text-color);
    border:none;
    border-radius: 1em;
    padding:5px 15px;
    box-shadow: 0 3px 13px 2px rgba(0,0,0,.5);
    margin:10px 3px;
    display:inline-block;
    user-select: none;
}
.btnsearch:hover{
    box-shadow: 3px 3px 13px 7px rgba(0,0,0,.5);
/*
    background: transparent;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
*/
}
h1,h2,h3,h4,h5,h6{
    margin:0;
}
h1,h2{
    font-weight:400;
}
.siteinfo{
    position: absolute;
    padding:13px 17px;
    display: flex;
    align-items: center;
    width:calc( 100% - 34px );
}
.title{
    text-shadow:var(--background-text-shadow);
    display: inline-flex;
    align-items: center;
    font-size:130%;
}
.title::before{
    content:"";
    background:url(https://cdn.luogu.com.cn/upload/image_hosting/wzzqwiik.png) no-repeat;
    background-size: cover;
    background-position: center;
    height:30px;
    width:30px;
    border-radius: 100%;
    margin-right:10px;
    display:inline-block;
}
.sol{
    position: absolute;
    top:100%;
    width:100%;
    height:100%;
    display:flex;
}
.sol .body{
    text-align: center;
    text-align: -webkit-center;
    text-align: -moz-center;
}
.wi-title{
    padding:15px 0;
    font-size:110%;
    text-shadow:var(--background-text-shadow);
}
.wi-listitem{
    width:860px;
    user-select: none;
}
.wi-lists{
    color:var(--text-color);
    background: var(--background-color);
    border-radius: 1em;
    padding:5px 15px;
    box-shadow: 0 0 10px 3px rgba(0,0,0,.5);
    transition:all 0.2s;
    display:inline-flex;
    align-items: center;
    margin:5px;
    width:81px;
    text-align: center;
    line-height: 20px;
}
.wi-lists:hover{
    color:white;
    text-shadow:var(--background-text-shadow);
    background: transparent;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    box-shadow: 0 0 10px 6px rgba(0,0,0,.5);
    transition:all 0.2s;
}
.wi-lists img{
    width:16px;
    height:16px;
    border-radius: 3px;
    margin-right:1px;
}
@media screen and (max-width:900px) {
    .wi-listitem{
        width:560px;
    }
}
@media screen and (max-width:570px) {
    .searchinput{
        width:300px;
    }
    .body,.wi-listitem{
        max-width: 328px;
    }
}
@media screen and (max-width:370px) {
    .searchinput{
        width:250px;
    }
    .body,.wi-listitem{
        max-width: 278px;
    }
}
@media screen and (max-width:320px) {
    .searchinput{
        width:225px;
    }
    .body{
        max-width: 253px;
        margin:auto 0;
    }
    .wi-listitem{
        max-width: 265px;
    }
    .wi-lists{
        margin:3px 0;
    }
}